:root {
	--1: #fff;
	--2-: #c4064e;
	--4: #c4c4c4;
	--3: #000;
	--5: #1c1c1c;
	--6: #fdf5ed;
	--7: #e695ad;
}

html {
	font-size: 16px;
}

body {
	color: var(--3);
	background-color: var(--2);
	font-size: 1rem;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	justify-content: space-between;
}

[class$='__container'] {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 30px;
	width: 100%;
}
