:root {
	--1: #fff;
	--2: #c4064e;
	--4: #c4c4c4;
	--3: #000;
	--5: #1c1c1c;
	--6: #fdf5ed;
	--7: #e695ad;
}

html {
	font-size: 16px;
}

body {
	color: var(--3);
	background-color: var(--1);
	font-size: 1rem;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	justify-content: space-between;
}

[class$='__container'] {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 30px;
	width: 100%;

	@media (max-width: 744px) {
		padding: 0 15px;
	}
}

.btn--big {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 16px 48px;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;

	@media (max-width: 480px) {
		font-size: 14px;
	}
}

.btn--icon {
	gap: 16px;
}

.btn--light {
	color: var(--2);
	background-color: var(--1);
	transition: all 0.3s ease 0s;

	&:hover {
		color: var(--1);
		background-color: var(--2);
	}
}

.btn--primary {
	color: var(--1);
	background-color: var(--2);
	transition: all 0.3s ease 0s;
	border: 1px solid var(--2);

	&:hover {
		color: var(--2);
		background-color: var(--1);
	}

	&.btn--icon {
		.icon {
			fill: var(--1);
			transition: all 0.3s ease 0s;
		}

		&:hover {
			.icon {
				fill: var(--2);
			}
		}
	}
}

.pt-80 {
	padding-top: 80px;

	@media (max-width: 1024px) {
		padding-top: 40px;
	}

	@media (max-width: 745px) {
		padding-top: 24px;
	}
}
.pb-80 {
	padding-bottom: 80px;

	@media (max-width: 1024px) {
		padding-bottom: 40px;
	}

	@media (max-width: 745px) {
		padding-bottom: 24px;
	}
}
.bold-20 {
	color: var(--3, #000);
	font-feature-settings: 'liga' off, 'clig' off;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 22px; /* 110% */
	letter-spacing: 1px;
	text-transform: uppercase;
}
.medium-20 {
	color: var(--3, #000);
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%; /* 28px */
}
.grid-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.gap-40 {
	gap: 40px;
}
