@media (max-width: 520px) {
	.hero {
		&__content {
			padding-bottom: 30px;
			gap: 16px;
			align-items: normal;
		}

		&__title {
			font-size: 30px;
			font-weight: 500;
			line-height: 140%;
			letter-spacing: -0.9px;
		}

		&__text {
			font-size: 14px;
			font-weight: 500;
			line-height: 140%;
			max-width: 238px;
		}

		&__slide {
			min-height: 627px;
		}
	}

	.popular {
		padding-top: 60px;

		&__container {
			padding: 0;
		}

		&__row {
			flex-direction: column;
			padding-block: 30px;
			gap: 16px;
		}

		&__head {
			padding-inline: 15px;
		}

		&__title {
			font-size: 16px;
			font-weight: 700;
			line-height: 140%;
			text-transform: uppercase;
		}

		.item {
			gap: 16px;
			&__wrapper,
			&__text,
			&__link {
				padding-inline: 10px;
				font-size: 14px;
				font-weight: 500;
				line-height: 140%; /* 19.6px */
			}

			&__info {
				gap: 30px;
			}
		}

		&__buttons {
			.icon {
				width: 24px;
				height: 24px;
			}
		}
	}

	.cards {
		.card {
			padding-inline: 15px;
			padding-block: 30px;
			width: 100%;
			min-height: 400px;
			aspect-ratio: auto;

			&__title {
				font-size: 30px;
				font-weight: 500;
				line-height: 140%; /* 42px */
				letter-spacing: -0.9px;
			}

			&__info {
				gap: 30px;
				align-items: normal;
				max-width: 100%;
				width: 100%;
			}

			&__btn {
				width: 100%;
			}
		}

		&__blockquote {
			max-width: 289px;
			font-size: 14px;
			font-weight: 500;
			line-height: 140%;
		}
	}

	.collection {
		&__wrapper {
			align-items: normal;
			gap: 24px;
			padding-bottom: 30px;
		}

		&__title {
			font-size: 30px;
			font-weight: 500;
			line-height: 140%;
			letter-spacing: -0.9px;
		}

		&__text {
			font-size: 14px;
			font-weight: 500;
			line-height: 140%;
		}
	}

	.reviews {
		padding-block: 60px;

		&__container {
			padding-right: 15px;
		}

		&__content {
			gap: 30px;
		}

		&__title {
			font-size: 16px;
			font-weight: 700;
			line-height: 140%;
			text-transform: uppercase;
			max-width: 169px;
		}

		&__head {
			padding-right: 0;
		}

		&__buttons {
			.icon {
				width: 24px;
				height: 24px;
			}
		}

		.item {
			&__wrapper {
				padding: 30px 20px;
				gap: 24px;
			}
		}
	}

	.carousel {
		.slide {
			min-height: 560px;

			&__info {
				gap: 40px;
			}

			&__subtitle {
				margin-top: 30px;
				font-size: 16px;
				font-weight: 700;
				line-height: 140%;
			}

			&__logo {
				width: 314px;
				max-width: 70%;
			}

			&__text {
				font-size: 14px;
				font-weight: 500;
				line-height: 140%;
				margin-bottom: 30px;
			}
		}
	}

	.carousel-2 {
		&__block {
			min-height: 560px;
			padding-inline: 15px;
			padding-block: 30px;
		}

		&__swiper {
			padding-top: 40px;
		}

		&__title {
			font-size: 16px;
			font-weight: 700;
			line-height: 140%;
		}

		&__buttons-wrapper {
			padding-inline: 0;
		}

		&__text {
			font-size: 14px;
			font-weight: 500;
			line-height: 140%;
		}

		&__logo {
			width: 314px;
			max-width: 70%;
		}
	}

	.article {
		&_wrapper {
			gap: 24px;
		}

		&__subtitle {
			font-size: 16px;
			font-weight: 700;
			line-height: 140%;
			text-transform: uppercase;
		}

		&__img {
			max-width: 100%;
		}

		&__info {
			gap: 24px;
			width: 100%;
		}

		&__text {
			font-size: 16px;
			font-weight: 500;
			line-height: 140%;
			max-width: 317px;
		}

		&__btn {
			width: 100%;
		}
	}

	.cta {
		&__block {
			padding: 30px 15px;
			text-align: center;
			justify-content: center;
			min-height: 560px;
		}

		&__wrapper {
			align-items: center;
			width: 100%;
		}

		&__title {
			font-size: 30px;
			font-weight: 500;
			line-height: 140%;
			letter-spacing: -0.9px;
			max-width: 345px;
		}

		&__info {
			align-items: center;
			gap: 30px;
			max-width: 100%;
		}

		&__text {
			font-size: 14px;
			font-weight: 500;
			line-height: 140%;
			max-width: 345px;
		}

		&__btn {
			width: 100vw;
			max-width: 100%;
		}
	}

	.vk {
		padding-block: 30px;

		&__title {
			font-size: 30px;
			font-weight: 500;
			line-height: 110%; /* 33px */
			letter-spacing: -0.9px;
		}

		&__btn {
			width: 100%;
		}
	}

	.shop {
		&__title,
		&__link {
			font-size: 14px;
			font-weight: 500;
			line-height: 90%;
		}

		&__head {
			gap: 16px;
		}

		&__link {
			gap: 16px;
		}

		&__wrapper {
			gap: 30px;
		}

		&__grid {
			grid-template-columns: 1fr;
			row-gap: 30px;
		}

		.item {
			&__img {
				aspect-ratio: 6/5;
				max-height: 250px;
			}

			&__title {
				font-size: 16px;
				font-weight: 600;
				line-height: 140%;
				letter-spacing: 1px;
			}

			&__address {
				font-size: 14px;
				font-weight: 500;
				line-height: 140%;
			}
		}
	}

	.footer {
		padding: 60px 0 30px 0;

		&__wrapper {
			gap: 60px;
		}

		&__inputs {
			flex-direction: column;
		}

		&__input {
			min-height: 54px;
		}

		&__grid {
			gap: 10px;
		}

		&__content {
			gap: 30px;
		}

		&__form {
			gap: 24px;
		}

		&__column {
			gap: 24px;

			&:nth-child(1) {
				order: 1;
			}

			&:nth-child(2) {
				order: 3;
			}

			&:nth-child(3) {
				order: 2;
			}
		}

		.foo {
			gap: 0;
			margin-top: -20px;

			&__politics {
				margin-top: 30px;
				gap: 4px;
			}

			&__form-agree {
				color: var(--3, #000);
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: 140%; /* 19.6px */
			}

			&__politic {
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: 140%; /* 19.6px */
			}

			&__copy {
				margin-top: 4px;
				text-align: left;
				max-width: 254px;
			}
		}
	}
}
