@media (max-width: 745px) {
	.hero {
		&__content {
			padding-bottom: 90px;
		}
	}

	.popular {
		padding-bottom: 60px;
	}

	.cards {
		&__container {
			padding: 0;
		}

		&__footer {
			align-items: center;
		}

		&__wrapper {
			gap: 60px;
			padding-bottom: 60px;
		}

		&__grid {
			grid-template-columns: 1fr;
			gap: 30px;
		}

		.card {
			padding-block: 60px;

			&__title {
				font-size: 42px;
				font-style: normal;
				font-weight: 500;
				line-height: 110%;
				letter-spacing: -1.26px;
			}
		}

		&__blockquote {
			max-width: 617px;
			font-size: 20px;
			font-style: normal;
			font-weight: 500;
			line-height: 140%;
			margin-inline: 30px;
		}
	}

	.collection {
		padding-bottom: 0;

		&__container {
			padding: 0;
		}

		&__info {
			max-width: 565px;
			margin-inline: 30px;
		}

		&__wrapper {
			padding-bottom: 60px;
		}

		&__title {
			font-size: 42px;
			font-weight: 500;
			line-height: 110%;
			letter-spacing: -1.26px;
		}

		&__text {
			font-size: 20px;
			font-weight: 500;
			line-height: 140%;
		}

		&__btn {
			margin-inline: 15px;
		}
	}

	.reviews {
		padding-block: 30px;

		&__container {
			padding-right: 0;
		}

		&__head {
			padding-right: 15px;
		}
	}

	.carousel {
		&__container {
			padding: 0;
		}
		.slide {
			min-height: 769px;
			&__text {
				margin-bottom: 60px;
				font-size: 20px;
				font-weight: 500;
				line-height: 140%;
			}

			&__info {
				gap: 60px;
				margin-inline: 15px;
			}

			&__logo {
				.icon {
					max-width: 100%;
				}
			}
		}

		&__buttons {
			padding-inline: 15px;
		}
	}

	.carousel-2 {
		&__container {
			padding: 0;
		}

		&__block {
			min-height: 769px;
			padding: 60px 30px;
		}

		&__text {
			font-size: 20px;
			font-weight: 500;
			line-height: 140%;
		}

		&__buttons {
			padding-inline: 15px;
		}
	}

	.article {
		padding-block: 60px;

		&__img {
			max-width: 349px;
		}

		&__text {
			color: var(--5);
		}

		&__info {
			gap: 30px;
		}
	}

	.cta {
		&__container {
			padding: 0;
		}

		&__title {
			max-width: 500px;
		}

		&__block {
			min-height: 570px;
		}
	}

	.vk {
		padding-block: 120px;

		&__block {
			gap: 60px;
		}
	}

	.footer {
		&__wrapper {
			gap: 120px;
		}

		&__grid {
			gap: 16px;
		}

		&__title {
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: 140%;
			text-transform: uppercase;
		}

		&__form {
			width: 100%;
			align-items: flex-start;
		}

		&__inputs {
			width: 100%;
		}

		&__input {
			width: 100%;
		}

		.foo {
			flex-wrap: wrap;
			flex-direction: column;
			align-items: flex-start;
			gap: 10px;

			&__form-agree {
				order: 1;
			}

			&__politics {
				order: 2;
			}

			&__copy {
				order: 3;
				width: 100%;
				text-align: right;
			}
		}
	}
}
