.header {
	display: flex;
	flex-direction: column;
	width: 100%;
	z-index: 20;

	&__banner {
		width: 100%;
		background-color: var(--6);
		padding: 8px 30px;

		.banner {
			&__wrapper {
				display: flex;
				width: 100%;
				align-items: center;
				justify-content: center;
				flex-wrap: wrap;
				column-gap: 32px;
				row-gap: 8px;
				color: var(--3, #000);
				text-align: center;
				font-size: 12px;
				font-weight: 400;
				line-height: 16px;
				letter-spacing: 0.2px;
			}

			&__link {
				display: flex;
				gap: 4px;
				align-items: center;

				.icon {
					width: 14px;
					height: 14px;
					transition: all 0.3s ease 0s;
					fill: none;
				}

				&:hover {
					.icon {
						transform: scale(1.2);
					}
				}
			}
		}
	}

	&__wrapper {
		width: 100%;
		background-color: var(--2);
		padding: 0 16px;
		color: var(--1);
		transition: all 0.8s ease 0s;

		&.header-scroll {
			position: fixed;
			top: -200%;
		}

		&.header-show {
			top: 0;
		}
	}

	&__container {
		width: 100%;
	}

	&__content {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-transform: uppercase;
		color: var(--1, #fff);
		font-family: Montserrat;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: 22px;
		letter-spacing: 1px;
	}

	&__logo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		.icon {
			width: 228px;
			height: 23px;
			max-width: 100%;
			fill: var(--1);
		}

		&-menu {
			display: none;
		}
	}

	&__link {
		display: block;
		padding-block: 19px;

		&.pc-hidden {
			@media (min-width: 745px) {
				display: none;
			}
		}

		&.mobile-hidden {
			@media (max-width: 744px) {
				display: none;
			}
		}
	}

	&__burger {
		display: none;
	}

	&__foo {
		display: none;
	}

	&__list {
		display: flex;
	}

	&__item {
		&:not(:last-child) {
			.header__link {
				padding-right: 16px;
			}
		}

		&:not(:first-child) {
			.header__link {
				padding-left: 16px;
			}
		}
	}

	&__tools {
		display: flex;
		align-items: center;
		max-width: 246px;
		width: 100%;
		gap: 32px;
		justify-content: space-between;
	}

	&__links {
		display: flex;
		gap: 20px;
		align-items: center;

		.header__link {
			display: flex;
		}

		.icon {
			width: 18px;
			height: 18px;
			transition: all 0.3s ease 0s;
			fill: var(--1);

			&:hover {
				transform: scale(1.2);
			}
		}
	}
}

.hero {
	position: relative;
	&__swiper {
		width: 100%;
	}

	&__wrapper {
		width: 100%;
		height: 100%;
	}

	&__slide {
		position: relative;
		width: 100%;
		height: 100%;
		min-height: 685px;
		display: flex;
		align-items: end;
	}

	&__container {
		position: relative;
	}

	&__content {
		color: var(--1);
		margin-top: auto;
		padding-bottom: 74px;
		display: flex;
		flex-direction: column;
		gap: 30px;
		max-width: 800px;
		align-items: flex-start;
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 8px;
		font-weight: 500;
	}

	&__title {
		font-size: 55px;
		letter-spacing: -1.65px;
	}

	&__text {
		font-size: 20px;
		line-height: 140%;
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		z-index: -1;
	}

	&__buttons {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		z-index: 1;

		&-wrapper {
			display: flex;
			width: 100%;
			justify-content: space-between;

			.icon {
				width: 60px;
				height: 60px;
				cursor: pointer;
				transition: all 0.3s ease 0s;
				fill: none;

				&:hover {
					transform: scale(1.2);
				}
			}
		}
	}
}

.popular {
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding-bottom: 80px;

	&__banner {
		width: 100%;
		background-color: var(--6);
	}

	&__row {
		display: flex;
		gap: 39px;
		align-items: center;
		justify-content: center;
		padding-block: 31px;
		color: var(--3);
		text-align: center;
		font-size: 20px;
		font-weight: 500;
		line-height: 90%;
		text-transform: uppercase;
	}

	&__dot {
		width: 6px;
		height: 6px;
		border-radius: 999px;
		background-color: var(--2);
		flex-shrink: 0;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}

	&__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		font-size: 20px;
		font-weight: 700;
		line-height: 22px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	&__buttons {
		display: flex;
		gap: 14px;
		align-items: center;

		.icon {
			width: 37px;
			height: 37px;
			cursor: pointer;
			opacity: 1;
			transition: all 0.3s ease 0s;
			fill: var(--1);
			stroke: var(--3);

			&:not(.swiper-button-disabled):hover {
				transform: scale(1.1);
			}
		}

		.swiper-popular-prev {
			flex-shrink: 0;

			.icon {
				transform: rotate(180deg);

				&:not(.swiper-button-disabled):hover {
					transform: rotate(180deg) scale(1.1);
				}
			}
		}
		.swiper-popular-next {
			flex-shrink: 0;
		}

		.swiper-button-disabled {
			.icon {
				opacity: 0.3;
				pointer-events: none;
			}
		}
	}

	&__swiper {
		width: 100%;
	}

	&__wrapper {
		width: 100%;
	}

	.item {
		display: flex;
		flex-direction: column;
		gap: 36px;
		min-height: 100%;

		&__info {
			display: flex;
			flex-direction: column;
			gap: 30px;
		}

		&__img {
			position: relative;
			aspect-ratio: 3/4;

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}

		&__wrapper {
			display: flex;
			flex-direction: column;
			gap: 10px;
			color: var(--3, #000);
			font-size: 16px;
			font-weight: 500;
			line-height: 140%;
		}

		&__link {
			color: var(--2);
		}
	}
}

.cards {
	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 80px;
		padding-bottom: 80px;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
	}

	.card {
		padding: 30px;
		position: relative;
		aspect-ratio: 1/1;
		display: flex;
		align-items: flex-end;
		&__img {
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
				z-index: -1;
			}
		}

		&__info {
			color: var(--1);
			font-size: 30px;
			font-weight: 500;
			line-height: 140%;
			letter-spacing: -0.9px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 38px;
			max-width: 402px;
		}
	}

	&__footer {
		display: flex;
		flex-direction: column;
		gap: 16px;
		text-align: center;
	}

	&__blockquote {
		color: var(--3, #000);
		font-size: 30px;
		font-weight: 500;
		line-height: 140%;
		letter-spacing: -0.9px;
		max-width: 971px;
		margin-inline: auto;
	}

	&__dots {
		width: 6px;
		height: 6px;
		background-color: var(--2);
		border-radius: 999px;
		position: relative;
		margin-inline: auto;

		&::after,
		&::before {
			position: absolute;
			content: '';
			width: 6px;
			height: 6px;
			background-color: var(--2);
			border-radius: 999px;
		}

		&::before {
			right: 12px;
		}

		&::after {
			left: 12px;
		}
	}
}

.collection {
	padding-bottom: 60px;
	&__wrapper {
		width: 100%;
		min-height: 800px;
		position: relative;
		display: flex;
		align-items: center;
		color: var(--1);
		text-align: center;
		font-weight: 500;
		padding-bottom: 56px;
		justify-content: flex-end;
		flex-direction: column;
		gap: 54px;
	}

	&__info {
		display: flex;
		max-width: 748px;
		flex-direction: column;
		align-items: center;
		gap: 13px;
	}

	&__title {
		font-size: 55px;
		line-height: 110%;
		letter-spacing: -1.65px;
	}

	&__text {
		font-size: 24px;
		line-height: 140%; /* 33.6px */
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		z-index: -1;
	}
}

.reviews {
	padding-bottom: 60px;
	&__content {
		display: flex;
		flex-direction: column;
		gap: 60px;
	}

	&__head {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		gap: 32px;
	}

	&__title {
		font-size: 20px;
		font-weight: 700;
		line-height: 22px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	&__buttons {
		display: flex;
		gap: 14px;
		align-items: center;

		.icon {
			width: 37px;
			height: 37px;
			cursor: pointer;
			opacity: 1;
			transition: all 0.3s ease 0s;
			fill: var(--1);
			stroke: var(--3);

			&:not(.swiper-button-disabled):hover {
				transform: scale(1.1);
			}
		}

		.swiper-reviews-prev {
			flex-shrink: 0;

			.icon {
				transform: rotate(180deg);

				&:not(.swiper-button-disabled):hover {
					transform: rotate(180deg) scale(1.1);
				}
			}
		}
		.swiper-reviews-next {
			flex-shrink: 0;
		}

		.swiper-button-disabled {
			.icon {
				opacity: 0.3;
				pointer-events: none;
			}
		}
	}

	&__swiper {
		width: 100%;
	}

	&__wrapper {
		width: 100%;
	}

	.item {
		background-color: var(--6);
		min-height: 100%;

		&__wrapper {
			padding: 28px 32px;
			display: flex;
			flex-direction: column;
			gap: 52px;
		}

		&__stars {
			display: flex;
			gap: 6px;

			.icon {
				width: 22px;
				height: 22px;
				fill: var(--7);

				&.disabled {
					fill: none;
					stroke: var(--7);
				}
			}
		}

		&__info {
			display: flex;
			flex-direction: column;
			gap: 23px;
		}

		&__title {
			font-size: 20px;
			font-weight: 700;
			line-height: 22px;
			letter-spacing: 1px;
			text-transform: uppercase;
		}

		&__text {
			font-size: 16px;
			font-weight: 500;
			line-height: 140%;
		}
	}
}

.carousel {
	&__container {
	}

	&__swiper {
		width: 100%;
	}

	&__wrapper {
		width: 100%;
	}

	.slide {
		min-height: 800px;
		position: relative;
		color: var(--1);
		padding-inline: 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		&__subtitle {
			margin-top: 60px;
			font-size: 20px;
			font-weight: 700;
			line-height: 22px;
			letter-spacing: 1px;
			text-transform: uppercase;
		}

		&__info {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 44px;
			max-width: 958px;
		}

		&__logo {
			.icon {
				width: 422px;
				height: 43px;
				fill: var(--1);
			}
		}

		&__text {
			font-size: 30px;
			font-weight: 500;
			line-height: 140%;
			letter-spacing: -0.9px;
			margin-bottom: 120px;
		}

		&__bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-position: center;
			background-size: cover;
			z-index: -1;
		}
	}

	&__buttons {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2;
		padding-inline: 30px;
		display: flex;
		width: 100%;
		display: flex;
		justify-content: space-between;
		gap: 14px;
		.icon {
			width: 30px;
			height: 30px;
			cursor: pointer;
			opacity: 1;
			transition: all 0.3s ease 0s;
			fill: none;
			stroke: var(--1);

			&:not(.swiper-button-disabled):hover {
				transform: scale(1.1);
			}
		}

		.swiper-carousel-prev {
			flex-shrink: 0;

			.icon {
				transform: rotate(180deg);

				&:not(.swiper-button-disabled):hover {
					transform: rotate(180deg) scale(1.1);
				}
			}
		}
		.swiper-carousel-next {
			flex-shrink: 0;
		}

		.swiper-button-disabled {
			.icon {
				opacity: 0.4;
				pointer-events: none;
			}
		}
	}
}

.article {
	padding-block: 120px;
	&__wrapper {
		display: flex;
		gap: 32px;
		align-items: center;
		justify-content: space-between;
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 40px;
		max-width: 685px;
		align-items: center;
		text-align: center;
	}

	&__subtitle {
		color: var(--4);
		font-size: 20px;
		font-weight: 700;
		line-height: 22px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	&__text {
		color: var(--3, #000);
		font-size: 30px;
		font-weight: 500;
		line-height: 140%;
		letter-spacing: -0.9px;
	}

	&__dots {
		width: 6px;
		height: 6px;
		background-color: var(--2);
		border-radius: 999px;
		position: relative;
		margin-inline: auto;

		&::after,
		&::before {
			position: absolute;
			content: '';
			width: 6px;
			height: 6px;
			background-color: var(--2);
			border-radius: 999px;
		}

		&::before {
			right: 12px;
		}

		&::after {
			left: 12px;
		}
	}

	&__author {
		color: var(--3, #000);
		font-size: 20px;
		font-weight: 600;
		line-height: 140%;
		letter-spacing: 0.4px;
	}

	&__img {
		aspect-ratio: 3/4;
		width: 576px;
		position: relative;
		flex-shrink: 0;
		max-width: 100%;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
}

.cta {
	&__block {
		position: relative;
		min-height: 550px;
		display: flex;
		padding: 60px 30px;
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		z-index: -1;
	}

	&__wrapper {
		color: var(--1);
		font-weight: 500;
		max-width: 688px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		min-height: 100%;
		justify-content: space-between;
		gap: 40px;
	}

	&__info {
		max-width: 421px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 34px;
	}

	&__title {
		font-size: 55px;
		line-height: 110%;
		letter-spacing: -1.65px;
	}

	&__text {
		font-size: 24px;
		line-height: 140%;
	}

	&__btn {
	}
}

.vk {
	padding-block: 150px;
	&__block {
		display: flex;
		flex-direction: column;
		gap: 120px;
		align-items: center;
		text-align: center;
	}

	&__title {
		font-size: 55px;
		font-weight: 500;
		line-height: 110%;
		letter-spacing: -1.65px;
	}

	&__swiper {
		width: 100%;
	}

	&__wrapper {
		width: 100%;
	}

	&__img {
		position: relative;
		aspect-ratio: 3/4;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__btn {
		.icon {
			width: 18px;
			height: 18px;
			display: flex;
			fill: var(--1);
		}
	}
}

.shop {
	padding-block: 60px;
	background-color: var(--6);

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 60px;
	}

	&__head {
		display: flex;
		justify-content: space-between;
		gap: 32px;
		align-items: center;
		font-size: 30px;
		font-weight: 500;
		line-height: 140%;
		letter-spacing: -0.9px;
	}

	&__title {
		font-size: 30px;
		font-weight: 500;
		line-height: 140%; /* 42px */
		letter-spacing: -0.9px;
	}

	&__link {
		color: var(--2);
		display: flex;
		align-items: center;
		gap: 26px;

		&::before {
			content: '';
			width: 6px;
			height: 6px;
			background-color: var(--2);
			border-radius: 999px;
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 10px;
		row-gap: 68px;
	}

	.item {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 25px;
		&__img {
			aspect-ratio: 8/5;
			position: relative;

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}

		&__info {
			display: flex;
			flex-direction: column;
			gap: 4px;
			font-size: 16px;
			line-height: 140%;
		}

		&__title {
			font-weight: 600;
			letter-spacing: 1px;
		}

		&__address {
			font-weight: 500;
			line-height: 140%;
		}
	}
}

.footer {
	padding-block: 120px;
	&__container {
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 90px;
	}

	&__logo {
		width: 100vw;
		max-width: 100%;
		display: flex;
		justify-content: center;

		.icon {
			width: 100%;
			fill: var(--2);
			aspect-ratio: 9/1;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 34px;
	}

	&__grid {
		display: flex;
		justify-content: space-between;
		gap: 16px;

		@media (max-width: 621px) {
			flex-direction: column;
		}
	}

	&__column {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__title {
		color: var(--4, #c4c4c4);
		font-size: 20px;
		font-weight: 700;
		line-height: 22px;
		letter-spacing: 1px;
		text-transform: uppercase;
		max-width: 200px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		color: var(--3, #000);
		font-size: 16px;
		font-weight: 500;
		line-height: 200%;
	}

	&__item {
		&:not(:last-child) {
			.footer__link {
				padding-bottom: 5px;
			}
		}

		&:not(:first-child) {
			.footer__link {
				padding-top: 5px;
			}
		}
	}

	&__link {
		.icon {
			width: 23px;
			height: 14px;
		}
	}

	&__form {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 19px;
	}

	&__subtitle {
		color: var(--3, #000);
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 200%;
	}

	&__inputs {
		display: flex;
		gap: 10px;
	}

	&__input {
		border: 1px solid var(--4, #c4c4c4);
		background: var(--1, #fff);
		display: flex;
		padding: 12px 24px;
		align-items: center;

		&::placeholder {
			color: var(--4, #c4c4c4);
			font-size: 16px;
			font-weight: 500;
			line-height: 200%;
		}
	}

	.foo {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 16px;

		&__politics {
			display: flex;
			flex-direction: column;
		}

		&__politic {
			color: var(--4);
			font-size: 10px;
			font-weight: 500;
			line-height: 180%;
		}

		&__form-agree {
			max-width: 290px;
			color: var(--3, #000);
			font-family: Montserrat;
			font-size: 10px;
			font-style: normal;
			font-weight: 500;
			line-height: 180%;

			a {
				text-decoration: underline;
			}
		}

		&__copy {
			color: var(--3);
			font-size: 14px;
			font-weight: 500;
			line-height: 14px;
		}
	}
}
