@media (max-width: 1024px) {
	.body.menu-open {
		overflow: hidden;
	}

	.header {
		&__content {
			position: static;
			gap: 24px;
		}

		&__banner {
			padding-inline: 0;
		}

		&__wrapper {
			padding-inline: 0;
		}

		&__logo {
			position: static;
			transform: none;

			&-menu {
				display: block;
				width: 100%;

				.icon {
					fill: var(--2);
					width: 100%;
					height: 37px;
				}
			}
		}

		&__burger {
			display: block;
			flex-shrink: 0;
			position: relative;
			width: 16px;
			height: 12px;
			cursor: pointer;
			z-index: 5;
			margin-right: 40px;

			span,
			&::before,
			&::after {
				content: '';
				transition: all 0.3s ease 0s;
				right: 0;
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: var(--1);
			}
			&::before {
				top: 0;
			}
			&::after {
				bottom: 0;
			}
			span {
				top: calc(50% - 1px);
			}
			.menu-open & {
				span {
					width: 0;
				}

				&::before {
					top: calc(50% - 1px);
					transform: rotate(-45deg);
				}
				&::after {
					bottom: calc(50% - 1px);
					transform: rotate(45deg);
				}
			}

			&-menu {
				position: absolute;
				top: 22px;
				right: 18px;
				margin-right: 0;
				span,
				&::before,
				&::after {
					background-color: var(--3);
				}
			}
		}

		&__tools {
			width: auto;
			.header__list {
				display: none;
			}
		}

		&__block {
			opacity: 0;
			visibility: hidden;
			transform: translateX(-100%);
			transition: all 0.3s ease 0s;
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
			max-height: 100vh;
			height: 100vh;
			background-color: #f3eee4;
			z-index: 20;
			display: flex;
			color: var(--5);
			display: flex;
			padding: 60px 30px;
			flex-direction: column;
			justify-content: space-between;
			overflow-y: auto;

			.menu-open & {
				opacity: 1;
				visibility: visible;
				transform: translateX(0);
			}

			.header__item {
				.header__link {
					padding-left: 0;
					padding-right: 0;
					padding-block: 12px;
					display: flex;
					align-items: center;
					gap: 16px;

					&::before {
						content: '';
						width: 6px;
						height: 6px;
						border-radius: 50%;
						background-color: var(--2);
					}
				}
			}
		}

		.foo {
			display: flex;
			flex-direction: column;
			gap: 30px;

			&__title {
				max-width: 170px;
				color: var(--4, #c4c4c4);
				font-size: 16px;
				font-weight: 600;
				line-height: 22px;
				letter-spacing: 1px;
				text-transform: uppercase;
			}

			&__icon {
				.icon {
					width: 23px;
					height: 13px;
					fill: var(--3);
				}
			}

			&__link {
				color: var(--3, #000);
				font-size: 14px;
				font-weight: 500;
				line-height: 14px;
			}
		}

		&__list {
			flex-direction: column;
		}
	}

	.hero {
		&__title {
			font-size: 42px;
			letter-spacing: -1.26px;
		}
	}

	.popular {
		&__row {
			gap: 37px;
		}
		&__pin {
			font-size: 16px;
			font-weight: 500;
		}
	}

	.article {
		&__wrapper {
			flex-direction: column;
			gap: 30px;
		}

		&__info {
			order: 2;
		}
	}

	.cta {
		&__info {
			max-width: 335px;
		}
	}

	.shop {
		&__head {
			flex-direction: column;
			gap: 30px;
		}

		&__link {
			flex-direction: column;
			gap: 30px;
			align-items: center;
		}

		&__grid {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	.footer {
		&__title {
			font-size: 16px;
			line-height: 140%;
		}
	}
}
